/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#aaa;
  display:none;
}
   
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
 
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:450px; 
  height:300px;
  padding:10px;
  background-color:#ffffff;

}
#question {
 overflow:scroll;
 height:280px;
}